@import "tailwindcss";


body {
  background: #10001f;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 0, 81, 0.793);
}
